.button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

.button:hover {
	color:#f00;
}

.meet3 {
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 90px 0 40px -400px;
	width: 800px;
	position: absolute;
	left: 50%;
	text-align: center;
}

.submitDivs {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

p {
	text-align: left;
	margin: 10px;
}

.meet4 span {
	background-color: #aaccfa;
	font-weight: bold;
}

.myForm label {
	display: block;
	margin: 3px;
}

input [type="text"] {
	display: block;
}

input {
	margin: 3px;
}

input:focus {
	color: black;
}

select {
	margin: 3px;
}

button {
	margin: 3px;
}

input [type="checkbox"] {
	margin-left: 3px;
}

.form-div {
	width: 250px;
	height: 80px;
	display: inline-block;
	background-color: rgba(170, 204, 250, 0.75);
	border: 1px solid black;
	margin: 5px;
	position: relative;
	float: left;
	box-shadow: 3px 3px 5px;
	text-align: left;
}

.error {
	border: 2px solid red;
}

.form-div span {
	color: red;
	font-weight: bold;
}

.form-div p {
	margin: 0 auto;
}

.myForm {
	text-align: center;
	position: relative;
}

.myForm section {
	width: 250px;
	height: 80px;
	display: inline-block;
	/*border: 1px solid black;*/
	margin: 5px auto;
	position: relative;
	float: left;
	text-align: center;
}